/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/*div {
	border: 2px solid red;
}
*/
.container {
	margin: 0 auto;
	width: 80%;
	position: relative;
}

.nav-container {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	position: fixed;
	background: rgb(218,16,179);
	background: linear-gradient(270deg, rgba(218,16,179,1) 0%, rgba(242,249,71,1) 48%, rgba(0,255,230,1) 94%);
	z-index: 1;
}

.nav-container:scroll {
	box-shadow: 5px 10px;
}

.nav-item {
	display: inline-block;
	margin: 20px 2.7%;
	position: relative;
	top: 5%;
	left: 8%;

	text-decoration: none;
	color: lightslategrey;
	background-color: clear;
}


/*.nav-item:first-child {
	left: 3%;
}*/

.nav-item:hover {
	color: black;
}

.nav-logo {
	display: inline-block;
	position: fixed;
	top: 10px;
	right: 9%;
	background-color: clear;
}

/* banner after navigation */

.banner {
	display: block;
	width: 100%;
	height: 550px;
	position: relative;
	border-bottom: 1px solid black;
}

.innovation-card-left {
	display: inline-block;
	width: 55%;
	height: 60%;
	position: relative;
	top: 25%;

	text-align: center;
	font-size: 80px;
}

.innovation-card-left .get-started-btn {
	border: 1px solid black;
	position: relative;
	display: block;
	width: 40%;
	padding: 8px 15px;
	text-decoration: none;
	color: black;
	font-size: 17px;
	bottom: 10px;
	left: 30%;
}


.get-started-btn:hover {
	background-color: black;
	color: white;
}


.img-card-right {
	background-image: url("../img/header-img.png");
	height: 400px;
	width: 400px;
	display: inline-block;
	position: absolute;
	background-color: pink
	right: 0%;
	top: 18%;

	background-repeat: no-repeat;

}


.two-columns, .three-columns {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 200px;
}

#features, #about {
	display: inline-block;
	position: relative;
	width: 45%;
	top: 25%;
}

#about {
	position: absolute;
	right: 0%;
}

.image-python-code {
	background-image: url("../img/mid-page-accent.jpg");
	height: 200px;
	width: 900px;
	display: block;
	margin: 0 auto;
	background-repeat: no-repeat;
}

.three-columns {
	height: 250px;
	border-bottom: 1px solid black;
}


#services, #product, #vision {
	display: inline-block;
	position: relative;
	width: 33%;
	height: 70%;
	top: 25%;
}

#vision {
	right: 0%;
}


#contact {
	display: block;
	width: 100%;
	height: 200px;
	margin: 40px 0 0 0;
}

footer {
	height: 100px;
}

footer p {
	text-align: center;
}

h3 {
	font-family: 'Rubik Mono One', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
}